:root {
  --font-family: 'Pirata One', cursive;
}

body {
  background: url('assets/papyrus.jpg');
  line-height: 1.4;
}

.image-wrapper {
  text-align: center;
}

.image-wrapper img {
  max-height: 50vh;
}

.image-wrapper img {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fafafa;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin: 5vh 10vw;
  position:relative;
  text-align:center;
}

.image-wrapper img:before {
  border-radius:2px;
  bottom:-2vmin;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
  content:"";
  left:-2vmin;
  position:absolute;
  right:-2vmin;
  top:-2vmin;
}

.image-wrapper img:after {
  border-radius:2px;
  bottom:-2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  content:"";
  left:-2.5vmin;
  position:absolute;
  right:-2.5vmin;
  top:-2.5vmin;
}

#caption {
  text-align: center;
  margin-bottom: 10px;
}

#text {
  font-size: 120%;
  margin: 0 auto;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
}

#text::first-letter {
  color: red;
  margin-left: -1rem;
  font-size: 3rem;
}

#text::first-line {
  font-size: 1.5rem;
  font-family: var(--font-family);
  letter-spacing: .1em;
}

#details {
  font-family: monospace;
  margin: 10px 0;
}

#interactions {
  text-align: center;
  padding: 4rem 0;
  margin-bottom: 9rem;
}

 button {
  padding: 10px 20px;
  border-radius: 5px;
  border-width: 0;
  color: white;
  background: #448;
  margin: 0 2px;
}

#interactions button {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

#interactions button + button {
  margin-left: 1rem;
}

#interactions button:hover {
  background-color: #e3e3e3;
  border-color: rgba(0,0,0,0.5);
}

#interactions button:active {
  background-color: #CCC;
  border-color: rgba(0,0,0,0.9);
}

#hero {
  background: url('assets/parchemin.jpg');
  position: fixed;
  height: 9rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 -16px 24px 2px rgba(0,0,0,.14), 0 -6px 30px 5px rgba(0,0,0,.12), 0 -8px 10px -5px rgba(0,0,0,.2);
}

.hero-stats {
  display: flex;
}

.hero-stats__stat + .hero-stats__stat {
  margin-left: 1rem;
}

.hero-stats__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  position: fixed;
  bottom: -4rem;
}

.hero-stats__value {
  height: 10rem;
  width: 10rem;
  border: 2px solid #000;
  display: block;
  border-radius: 100%;
  text-align: center;
  line-height: 10rem;
  margin-bottom: .5rem;
  font-size: 3rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.3), inset 0 0 20px rgba(0,0,0,1);
}

.hero-stats__stat--stamina {
  left: -3rem;
  color: white;
}

.hero-stats__stat--stamina .hero-stats__value {
  background-color: red;
}

.hero-stats__stat--skill {
  right: -3rem;
  color: white;
}

.hero-stats__stat--skill .hero-stats__value {
  background-color: blue;
}

.hero-stats__stat--luck {
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
}

.hero-stats__stat--luck .hero-stats__value {
  background-color: white;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.5rem;
}

.hero-stats__label {
  letter-spacing: .1em;
}

@media (min-width: 720px) {
  #text {
    width: calc(100% - 14rem);
  }

  #hero {
    background: none;
    box-shadow: none;
    position: initial;
  }

  .hero-stats__stat {
    color: #000;
  }
  .hero-stats__stat--luck {
    right: 0;
    bottom: 9rem;
    transform: none;
  }

  .hero-stats__stat--luck .hero-stats__value {
    background-color: white;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
  }

  #interactions {
    margin-bottom: 0;
  }
}

@media (min-width: 800px) {
  #text {
    max-width: 520px;
    padding: 0;
  }

  .hero-stats__stat--stamina {
    left: calc(50% - 450px);
  }

  .hero-stats__stat--skill {
    right: calc(50% - 450px);
  }

  .hero-stats__stat--luck {
    right: calc(50% - 340px);
    bottom: 4rem;
  }
}

/** DICE */
.die {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 3rem;
  right: 3rem;
  margin: 0;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.die.hide {
  visibility: hidden;
}

@keyframes spin {
    0% { transform: translateZ(-50px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ(-50px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ(-50px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ(-50px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ(-50px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% { transform: translateZ(-50px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ(-50px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 0.8s;
  font-family: var(--font-family);
}

.animation-2 {animation: spin 1.6s infinite linear;}

.cube.show-1 { transform: translateZ(-50px) rotateY(0deg);}
.cube.show-2 { transform: translateZ(-50px) rotateY(-90deg);}
.cube.show-3 { transform: translateZ(-50px) rotateY(-180deg);}
.cube.show-4 { transform: translateZ(-50px) rotateY(90deg);}
.cube.show-5 { transform: translateZ(-50px) rotateX(-90deg);}
.cube.show-6 { transform: translateZ(-50px) rotateX(90deg);}

*[class^='cube_face'] {
  display: grid;
  position: absolute;
  place-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #444;
  font-size: 3rem;
  color: #000;
  background: #FFF;
  box-shadow: inset 0 0 0 #ccc;
}

.cube_face_1 { transform: rotateY(0deg) translateZ(50px); }
.cube_face_2 { transform: rotateY(90deg) translateZ(50px); }
.cube_face_3 { transform: rotateY(180deg) translateZ(50px); }
.cube_face_4 { transform: rotateY(-90deg) translateZ(50px); }
.cube_face_5 { transform: rotateX(90deg) translateZ(50px); }
.cube_face_6 { transform: rotateX(-90deg) translateZ(50px); }

.cube_face_1,
.cube_face_2,
.cube_face_3,
.cube_face_4,
.cube_face_5,
.cube_face_6 {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: white;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background: -moz-radial-gradient(#ffffff, #dddddd);
    background: -webkit-radial-gradient(#ffffff, #dddddd);
    background: radial-gradient(#ffffff, #dddddd);
    border: solid 6px #ddd;
    border-radius: 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 100px;
    text-align: center;
}

.cube.red div {
  background: radial-gradient(#f11, #f55);
  border: solid 6px #f55;
}

.cube.blue div {
  background: radial-gradient(#11f, #55f);
  border: solid 6px #55f;
}

.cube.yellow div {
  background: radial-gradient(#ff1, #ff5);
  border: solid 6px #ff5;
}

.cube.green div {
  background: radial-gradient(#1f1, #5f5);
  border: solid 6px #5f5;
}
