.image-wrapper {
  text-align: center;
}

.image-wrapper img {
  max-height: 33vh;
}

#caption {
  text-align: center;
  margin-bottom: 10px;
}

#text {
  font-size: 120%;
}

#details {
  font-family: monospace;
  margin: 10px 0;
}

#interactions {
  text-align: center;
}

#interactions button {
  padding: 10px 20px;
  border-radius: 5px;
  border-width: 0;
  color: white;
  background: #448;
  margin: 0 2px;
}
